/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2014, 1:34:36 PM
    Author     : Administrator
*/


nav {
    text-align: center;
    border: 2px;
 
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline;
    
}
header{
    text-align: center;
    font-family:"brush script mt";
    font-size: xx-large;
    color: lavenderblush;
    text-transform: lowercase;
    border-style: solid;
    border-color: wheat;
}

body{
    background-color:white;
    background-image:url("pattern.png");
    font-family: "brush script mt";
    font-size: xx-large;
    text-transform: lowercase;
    color:darkslategray;
}
   
